@model List<Someren.Models.Lecturer>

<h2>Lecturers</h2>

<a class="btn btn-success mb-3" asp-action="Add">Add Lecturer</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Lecture ID</th>
            <th>Name</th>
            <th>Moderates</th>
            <th>Date of birth</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lecturer in Model)
        {
            <tr>
                <td>@lecturer.LecturerID</td>
                <td>@lecturer.Name</td>
                <td>@lecturer.Moderates</td>
                <td>@lecturer.DateOfBirth</td>
                
                <td>
                    <form asp-action="Delete" method="post" style="display:inline;">
                        <input type="hidden" name="Lectuer ID" value="@lecturer.LecturerID" />
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

